.blue {
    border-radius: 25px;
    max-width: 18rem;
    background-color: blue;
    color: white;
    margin: 1%;
    padding: 1%;
}

.brown {
    border-radius: 25px;
    max-width: 18rem;
    background-color: brown;
    color: white;
    margin: 1%;
    padding: 1%;
}

.black {
    border-radius: 25px;
    max-width: 18rem;
    background-color: black;
    color: white;
    margin: 1%;
    padding: 1%;
}

.orange {
    border-radius: 25px;
    max-width: 18rem;
    background-color: orange;
    color: black;
    margin: 1%;
    padding: 1%;
}

.purple {
    border-radius: 25px;
    max-width: 18rem;
    background-color: purple;
    color: white;
    margin: 1%;
    padding: 1%;
}

.red {
    border-radius: 25px;
    max-width: 18rem;
    background-color: red;
    color: black;
    margin: 1%;
    padding: 1%;
}

.green {
    border-radius: 25px;
    max-width: 18rem;
    background-color: green;
    color: white;
    margin: 1%;
    padding: 1%;
}

.yellow {
    border-radius: 25px;
    max-width: 18rem;
    background-color: yellow;
    color: black;
    margin: 1%;
    padding: 1%;
}

.bootstrapOpacity {
    opacity: 0.3;
}