.blue {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgba(0, 0, 255, 0.76);
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.brown {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgb(165, 97, 42);
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.black {
    border-radius: 25px;
    max-width: 18rem;
    background-color: black;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.orange {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgba(255, 136, 0, 0.993);
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.white {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgba(255, 255, 255, 0.945);
    color: rgb(0, 0, 0);
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.red {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgba(255, 0, 0, 0.918);
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.green {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgb(1, 138, 1);
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.yellow {
    border-radius: 25px;
    max-width: 18rem;
    background-color: rgb(251, 255, 0);
    color: black;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.bootstrapOpacity {
    opacity: 0.3;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredTopBar {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}