.blue {
    border-radius: 25px;
    max-width: 18rem;
    background-color: blue;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.brown {
    border-radius: 25px;
    max-width: 18rem;
    background-color: brown;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.black {
    border-radius: 25px;
    max-width: 18rem;
    background-color: black;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.orange {
    border-radius: 25px;
    max-width: 18rem;
    background-color: orange;
    color: black;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.purple {
    border-radius: 25px;
    max-width: 18rem;
    background-color: purple;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.red {
    border-radius: 25px;
    max-width: 18rem;
    background-color: red;
    color: black;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.green {
    border-radius: 25px;
    max-width: 18rem;
    background-color: green;
    color: white;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.yellow {
    border-radius: 25px;
    max-width: 18rem;
    background-color: yellow;
    color: black;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.bootstrapOpacity {
    opacity: 0.3;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredTopBar {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}